<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="/">主页</a> / 关于</div>
            <div class="panel-body topic-detail-content">
                <h3 id="-" class="h3_border">简介</h3>
                <p class="p_font">我是TryCatch，来自北京同心医联的全栈工程师，一开始是java出身，我一直认为java语言是十分优美的，原因来自于java的设计模式。目前单身，我是一个能躺着就不坐着，能坐着就不站着的技术宅男，欢迎前来跟我谈人生，谈理想。</p>
                <p class="p_font">写博客不仅是把我知道的分享出来，更为了弥补自己的不足，写的同时我也得到了很多的收获。</p>
                <h3 class="h3_border">兴趣</h3>
                <p class="p_font">兴趣广泛，最喜欢的事情当然是写代码，看电影，看书也是生活的一部分。</p>
                <h3  class="h3_border">硬件</h3>
                <p class="p_font">自从用了mac就没碰过win，成为了衷心的mac党；随身携带MackBookPro,我始终认为一台好的电脑可以影响你的成败</p>
                <h3 class="h3_border">软件及系统</h3>
                <p class="p_font">系统我也很喜欢linux，在黑黑的终端下敲命令很酷，效率当然没的说。</p>
                <p class="p_font">用的编辑器是vim，sublime，AndroidStudio,webstorm，偶尔也会使用xcode编写代码。</p>
                <p class="p_font">mac下有很多很酷的软件iterm等等。</p>
                <h3 class="h3_border">如今</h3>
                <p class="p_font">负责公司的后台系统维护、微信端网页、Android开发。</p>
                <p class="p_font">后台使用angularjs1搭建，用nginx代理，rails和nodejs提供接口</p>
                <p class="p_font">对外网站和微信网站使用angularjs1 + ruby on rails实现。</p>
                <h3  class="h3_border">梦想</h3>
                <p class="p_font">志在成为一个有节操的全栈工程师。</p>
                <h3  class="h3_border">博客用到的技术</h3>
                <p class="p_font">1.使用git管理代码版本控制，并上传到自己的gitlab服务器上，防止代码泄露，在必要的时候我将开源代码</p>
                <p class="p_font">2.接口是使用nodejs + koa结合提供api</p>
                <p class="p_font">3.前端使用nodejs + angularjs1结合开发</p>
                <p class="p_font">4.使用过程用到了docker</p>
                <p class="p_font">5.数据库用的mongo，因为是nodejs所以只能选择mongo好点，mongo使用docker搭建对外暴露端口验证身份即可连接，中间搞了好久才成功</p>
                <p class="p_font">6.部署用的是pm2，打包用的是gulp</p>
                <p class="p_font">7.logo是公司ui给做的,非常感谢他</p>
            </div>
        </div>
    </div>
</div>
